
*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #C4170C;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2.5em;
}

header h1{
    font-size: 2.5em;
    color: white;
    padding: 10px;
}

.principal{
    max-width: 800px;
    height: 400px;
    margin: auto;
    position: relative;
}

#linkP{
    text-decoration: none;
    color: white;
}

.b1{
    position: absolute;
    left: 0%;
    background-color: aqua;
    width: 49.5%;
    height: 100%;
    background-image: url('imagens/matias.jpeg');
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

#nb1{
    position: absolute;
    left: 3%;
    top: 3%;
    color: white;
    text-shadow: 0 1px 3px rgb(0 0 0 / 80%);

}

#nhb1{
    position: absolute;
    left: 3%;
    bottom: 5%;
    color: white;
    text-shadow: 0 1px 3px rgb(0 0 0 / 80%);
}
.b2{
    position: absolute;
    right: 0%;
    background-color: rgb(0, 13, 255);
    width: 49.5%;
    height: 49%;
    background-image: url('imagens/ira.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.b3{
    position: absolute;
    right: 0%;
    background-color: rgb(0, 13, 255);
    width: 49.5%;
    height: 49%;
    bottom: 0%;
    background-image: url('imagens/bovino.jpg');
    background-size:cover;
    background-position: center center;
    border-radius: 10px;
}

div.noticias{
    max-width: 800px;
    margin-top: 2.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-bottom: 2.5em;   
}

div .not{
    color: #c4170c;
    padding: 0% 0% 2% 0% ;
    border-bottom: 1px solid #c8c8c8;
}

div .not p{
    color: #555555;
    padding-top: 0.5%;
}

div .not h1{
    font-size: 1.6em;
}

.linkn{
    color: #C4170C;
    text-decoration: none;
}

.linkn:hover{
    color: #a6130a;
}

footer{
    background-color: #C4170C;
    color: white;
    text-align: center;
    padding: 0.5em;
    
}

#T1{
    font-size: 1.2em;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    font-weight: bold;
}

footer p{
    font-size: 1em;
    font-weight: lighter;
}